body{
    width: 100%;
    margin: 0;
    padding: 0;
}
#titre{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
@media screen and (max-width: 640px) {

#titre{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
}